.tab-nav {
  position: fixed;
  margin:auto;
  margin-left: 27%;
}

.inner-stat-circle {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: whitesmoke;
  margin: auto;
  margin-top: 1%;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  line-height: 90px;
  box-shadow: 0 12px 15px rgba(0, 0, 0, 0.16), 0 12px 15px rgba(0, 0, 0, 0.23);
}

.inner-stat-title {
  text-align: center;
  margin-top: 2px;
  font-size: 10px;
  font-weight: 300;
}

.wrapper {
  width: 100%;
}
#user_info {
  float: left;
}
#recent_activity {
  color: #444444;
  width: 97%;
  border-radius: 10px;

}
#question_of_day--wrapper {
  width: 100%;
  height: 150px;
  text-align: center;
  font: 18pt bold arial, sans-serif;
  color: #444444;
}

#question_of_day_text:hover {
  cursor: pointer;
  transform: scale(1.2);
  font-weight: 800;
}

#question_of_day_text {
  transition: all .2s ease-in-out;
}

.question_of_the_day_header {
  font-size: 12px;
  text-align: center;
  margin-left: 31%;
  padding-top: 2%;
  font-weight: 800;
}

.question_of_day--banner {
  margin-left: 10%;
  position: absolute;
  display: block;
  width: 400px;
  height: 60px;
  border: 1px solid #3f51b5;
  text-align: center;
  color: white;
  background:#3f51b5;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0,0,0,.15) inset,
              0 6px 10px rgba(0,0,0,.15);
}
.question_of_day--banner::before,
.question_of_day--banner::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: -70px;
  top: 24px;
  display: block;
  width: 40px;
  height: 0px;
  border: 30px solid #3f51b5;
  border-right: 20px solid #3f40b5;
  border-bottom-color: #3f51b5;
  border-left-color: transparent;
  transform: rotate(-5deg);
}
.question_of_day--banner::after {
  left: auto;
  right: -70px;
  border-left: 20px solid #3f40b5;
  border-right: 30px solid transparent;
  transform: rotate(5deg);
}

.question_of_the_day_header {
  float: left;
}
#points_wrapper {
  width: 100%;
  height: 240px;
}

.points-display {
  background-color: whitesmoke;
  width: 170px;
  height: 170px;
  border-radius: 170px;
  margin:auto;
  text-align: center;
  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.16), 0 6px 9px rgba(0, 0, 0, 0.23);
  margin-top: -2%;
}

.points-header {
  padding-top: 10%;
  font-size: 12px;
}

.points-content {
  padding-top: 5%;
  font-size: 70px;
  font-weight: 900;
}

.points-footer {
  font-size: 12px;
}

#stats_display {
  align-content: center;
}
#stat_box1, #stat_box2, #stat_box3 {
  display: inline-block;
  width: 170px;
  height: 140px;
  margin-left: 6%;
}

.recent_activity_header {
  background-color: #3f51b5;
  color: white;
  text-align: center;
}
