.wrapper {
  width: 100%;
}
#user_info {
  float: left;
}
#recent_activity {
  color: #444444;
  width: 97%;
  border-radius: 10px;

}
#question_of_day {
  width: 100%;
  height: 150px;
  text-align: center;
  font: 18pt bold arial, sans-serif;
  color: #444444;
}
#points_display {
  width: 100%;
  height: 240px;
}
#stats_display {
  align-content: center;
}
#stat_box1, #stat_box2, #stat_box3, #stat_box4 {
  display: inline-block;
  width: 140px;
  height: 140px;
  background: #BBBBBB;
  margin-left: 3%;
}

.recent_activity_header {
  background-color: #3f51b5;
  color: white;
  text-align: center;
}