<!DOCTYPE html>
<html>
<head>
	<title>Society Thinks</title>
	  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
	<link rel="stylesheet"
          href="../material-components-web/dist/material-components-web.css">
	<link rel="stylesheet" type = "text/css" href="../css/index.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="../js/app.js"></script>
</head>
<body>
<header class="mdc-toolbar mdc-toolbar--fixed">
      <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
          <span class="mdc-toolbar__title"><a href="index.html" class="home-link">Society Thinks</a></span>
        </section>
        <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
          <button style="margin-top: 17%; margin-right: 5%; background-color: white !important; color: black;" class="mdc-button mdc-button--raised mdc-ripple-upgraded" id="login-btn">
          Hey User!
        </button>
        </section>
      </div>
    </header>
    <div class="mdc-toolbar-fixed-adjust">
	    <nav class="mdc-permanent-drawer">
	        <div class="mdc-list-group">
	          <nav class="mdc-list">
	            <a class="mdc-list-item mdc-permanent-drawer--selected" href="#">
	              <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">home</i>Home
	            </a>
	            <a class="mdc-list-item" href="#">
	              <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">question_answer</i>Questions
	            </a>
	            <a class="mdc-list-item" href="#">
	              <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">playlist_add_check</i>Responses
	            </a>
	          </nav>

	          <hr class="mdc-list-divider">

	          <nav class="mdc-list">
	            <a class="mdc-list-item" href="#">
	              <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">person</i>My Account
	            </a>
	          </nav>
	        </div>
	      </nav>
	  </div>
	  <main>
	  	
	  </main>
</body>
</html>