<!DOCTYPE html>
<html>
<head>
	<title>Society Thinks</title>
	  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
	<link rel="stylesheet"
          href="../material-components-web/dist/material-components-web.css">
	<link rel="stylesheet" type = "text/css" href="../css/index.css">
	<link rel="stylesheet" type = "text/css" href="../css/loaders.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="../js/app.js"></script>
</head>
<body>
<div id="overlay">
      <div class="loading"></div>
</div>
<header class="mdc-toolbar mdc-toolbar--fixed">
      <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
          <span class="mdc-toolbar__title"><a class="home-link">Society Thinks</a></span>
        </section>
        <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
       	<div class="mdc-menu-anchor" style="top: 0px; right: 0px;">
        	  <button style="margin-top: 8.2%; margin-right: 20%; background-color: white !important; color: black;" class="mdc-button mdc-button--raised mdc-ripple-upgraded" id="user-menu-btn">
	        </button>


	          <div class="mdc-simple-menu" style="position: absolute; margin-top: 39%; margin-right: 3%; transform-origin: right top 0px; right: 0px; top: 0px; transform: scale(0, 0);" tabindex="-1" id="user-menu">
	            <ul class="mdc-simple-menu__items mdc-list" role="menu" aria-hidden="true" style="transform: scale(1, 1);">
	              <li class="mdc-list-item" role="menuitem" tabindex="0" id="logout-btn">Logout <i class="material-icons" style="padding-left:40%;">exit_to_app</i></li>
	              <li class="mdc-list-divider" role="separator"></li>
	              <li class="mdc-list-item router" role="menuitem" tabindex="0" href="account.html" style="">My Account<i  style="padding-left:14%;" class="material-icons mdc-list-item__start-detail" aria-hidden="true">person</i></li>

	            </ul>
	          </div>
        </div>

        </section>
      </div>
    </header>
    <div class="mdc-toolbar-fixed-adjust">
	    <nav class="mdc-permanent-drawer">
	        <div class="mdc-list-group">
	          <nav class="mdc-list" id="user-info-sidebar">
	            <div class="pic-row"><img class="circle" id="user-pro-pic"/> </div>
	          </nav>
	           <hr class="mdc-list-divider">
	          <nav class="mdc-list">
	            <a id="home-link" class="mdc-list-item mdc-permanent-drawer--selected router" href="home.html">
	              <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">home</i>Home
	            </a>
	            <a id="questions-link" class="mdc-list-item router" href="questions.html">
	              <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">question_answer</i>Questions
	            </a>
	            <a id="responses-link" class="mdc-list-item router" href="#">
	              <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">playlist_add_check</i>Responses
	            </a>
	          </nav>

	        </div>
	      </nav>
	 </div>
	   <aside class="mdc-dialog" id="picture-dialog">
          <div class="mdc-dialog__surface">
            <header class="mdc-dialog__header">
              <h2 id="my-mdc-dialog-label" class="mdc-dialog__header__title">
                Edit your Profile Picture
              </h2>
            </header>
            <section id="my-mdc-dialog-description" class="mdc-dialog__body">
            	<form id="change-pic-form">
            	<div class="uploadOuter">
					<dspan class="dragBox" >
					  Click or Drop image here
					<input  style="cursor:pointer;"type="file" id="pro-pic-input" onChange="dragNdrop(event)"  ondragover="drag()" ondrop="drop()" id="uploadFile"  />
					</span>
				</div>
				<div id="preview" class="sample-pic-row"></div>
            </section>
            <footer class="mdc-dialog__footer">
              <button type="button" id="cancel-pic-change" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel">Cancel</button>
              <button type="submit" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept mdc-dialog__action">Change</button>
              </form>

            </footer>
          </div>
        </aside>

	  <main id="content" style="display:block; padding-left: 20%; margin-top: -24%;">
	  	
	  </main>
	        <script src="../material-components-web/dist/material-components-web.js"></script>
	        <script>
	        function dragNdrop(event) {
			    var fileName = URL.createObjectURL(event.target.files[0]);
			    var preview = document.getElementById("preview");
			    var previewImg = document.createElement("img");
			    previewImg.style.backgroundImage =  "url("+fileName+")";
			    previewImg.setAttribute("class","circle")
			    preview.innerHTML = "";
			    preview.appendChild(previewImg);
			}
			function drag() {
			    document.getElementById('uploadFile').parentNode.className = 'draging dragBox';
			}
			function drop() {
			    document.getElementById('uploadFile').parentNode.className = 'dragBox';
		 	}
		   </script>
</body>

</html>