<div class="wrapper">
  <div id="user_info">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
            <div id="question_of_day">Question of the Day
              <p id="question_of_day_text"></p>
            </div>
            <div id="points_display">Points</div>
            <div id="stats_display">
              <div id="stat_box1">Stat 1</div>
              <div id="stat_box2">Stat 2</div>
              <div id="stat_box3">Stat 3</div>
              <div id="stat_box4">Stat 4</div>
            </div>
        </div>
        <div class="mdc-layout-grid__cell--align-right mdc-layout-grid__cell--span-4"> 
          <div class="mdc-card" id="recent_activity">
            <section class="mdc-card__media recent_activity_header">
              <h1 style="font-weight: 800;">Recent Activity</h1>
            </section>
            <section class="mdc-card__supporting-text" id="recent_activity_content">
              
            </section>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<script src="../js/home.js"></script>