<!DOCTYPE html>
<html>
<head>
	<title>Society Thinks</title>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<link rel="stylesheet"
          href="../material-components-web/dist/material-components-web.css">
	<link rel="stylesheet" type = "text/css" href="../css/index.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="../js/index.js"></script>
</head>

<body class="mdc-typography">
	<header class="mdc-toolbar mdc-toolbar--fixed">
      <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
          <span class="mdc-toolbar__title"><a href="index.html" class="home-link">Society Thinks</a></span>
        </section>
        <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
          	<a href="#" class="material-icons mdc-toolbar__icon" aria-label="note add" alt="note add">note_add</a>
          <a href="#" class="material-icons mdc-toolbar__icon" aria-label="Print this page" alt="Print this page">question_answer</a> 
          <a href="#" class="material-icons mdc-toolbar__icon" aria-label="Bookmark this page" alt="Bookmark this page">contact_mail</a>
          <button style="margin-top: 17%; margin-right: 5%; background-color: white !important; color: black;" class="mdc-button mdc-button--raised mdc-ripple-upgraded" id="login-btn">
          Login
        </button>
        </section>
      </div>
    </header>
    <section style="padding-top: 5%;">
	     <h1>Register</h1>
       <form id="register-form">
        
       </form>
    </section>
      <script src="../material-components-web/dist/material-components-web.js"></script>

</body>

</html>