<!DOCTYPE html>
<html id="doc">
<head>
	<title>Society Thinks</title>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
	<link rel="stylesheet"
          href="../material-components-web/dist/material-components-web.css">
	<link rel="stylesheet" type = "text/css" href="../css/index.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="../js/register.js"></script>  
</head>

<body class="mdc-typography">
	<header class="mdc-toolbar mdc-toolbar--fixed">
      <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
          <i class="material-icons mdc-toolbar__title" style="font-size: 32px;"><a href="index.html" class="home-link">keyboard_arrow_left</a></i>
        </section>
      </div>
    </header>
    <section style="padding-top: 5%;">
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner" >
          <div class="mdc-layout-grid__cell--align--middle mdc-layout-grid__cell--span-6" style="margin-left: 60%; width: 90%;">
      	     <div class="mdc-card">
                  <section class="mdc-card__primary" style="text-align: center;>
                    <h1 class="mdc-card__title mdc-card__title--large">Register for Society Thinks</h1>
                    <h2 class="mdc-card__subtitle">Don't lie, we know you are excited to get started!</h2>
                    <br>
                    <h4 class="mdc-card__subtitle">* Denotes Required Field</h4>

                  </section>
               <form id="register-form">
                  <section class="mdc-card__supporting-text">
                      *<div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <input type="text" class="mdc-text-field__input" id="fname">
                        <label for="fname" class="mdc-text-field__label">First Name</label>
                      </div>
                      *<div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <input type="text" class="mdc-text-field__input" id="lname">
                        <label for="lname" class="mdc-text-field__label">Last Name</label>
                        <i class="material-icons"></i>
                      </div>
                      <br>
                      *<div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <input type="text" class="mdc-text-field__input" id="email">
                        <label for="lname" class="mdc-text-field__label">Email</label>
                        <i class="material-icons" id="email-status"></i>
                      </div>
                      <div style="display:none;color: red; font-weight: 800; width:200%;" id="email-error-txt"></div>
                      <br>
                      *<div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <input type="text" class="mdc-text-field__input" id="username">
                        <label for="username" class="mdc-text-field__label">Username</label>
                        <i class="material-icons" id="username-status"></i>
                      </div> 
                      <div style="display:none;color: red; font-weight: 800; width:200%;" id="username-error-txt"></div>   
                      <br>                                        
                      *<div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <input type="password" class="mdc-text-field__input" id="password">
                        <label for="password" class="mdc-text-field__label">Password</label>
                        <i class="material-icons" id="password1-status"></i>
                      </div>
                      *<div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <input type="password" class="mdc-text-field__input" id="password2">
                        <label for="password2" class="mdc-text-field__label">Confirm Password</label>
                        <i class="material-icons" id="password-status"></i>
                      </div>
                      <br>
                      *<div class="mdc-form-field" style="margin-top: 4%;">
                        <label style="color:rgba(0, 0, 0, 0.5); margin-right: 2%;" for="birthday">Birthday</label> 
                        <input type="date" id="birthday">
                        <i class="material-icons"></i>
                      </div>
                      <div style="display:none;color: red; font-weight: 800; width:200%;" id="birthday-error-txt"></div>  
                      <div class="mdc-form-field" style="margin-top: 4%;">
                        <label style="color:rgba(0, 0, 0, 0.5); margin-right: 2%; width: 10%;" for="pro-pic">Pro Pic</label> 
                        <input type="file" id="pro-pic">
                      </div>
                      <br>
                      <br>
                      *<div class="mdc-select mdc-select0" role="listbox" tabindex="0" id="race-input">
                        <span class="mdc-select__selected-text">Race</span>
                          <div class="mdc-simple-menu mdc-select__menu">
                            <ul class="mdc-list mdc-simple-menu__items">
                              <li class="mdc-list-item" role="option" id="grains" aria-disabled="true">
                                Select your race
                              </li>
                              <li class="mdc-list-item" role="option" id="white" tabindex="0">
                                White
                              </li>
                              <li class="mdc-list-item" role="option" id="black" tabindex="0">
                                African American
                              </li>
                              <li class="mdc-list-item" role="option" id="indian" tabindex="0">
                                American Indian
                              </li>
                              <li class="mdc-list-item" role="option" id="pacific" tabindex="0">
                                Pacific Islander
                              </li>
                              <li class="mdc-list-item" role="option" id="hispanic" tabindex="0">
                                Hispanic
                              </li>
                                <li class="mdc-list-item" role="option" id="other" tabindex="0">
                                Other
                              </li>
                            </ul>
                          </div>
                      </div>
                      <i class="material-icons" style="color:green"></i>
                      <br>
                      <br>
                      *<div class="mdc-select mdc-select1" role="listbox" tabindex="0" id="religion-input">
                        <span class="mdc-select__selected-text">Religion</span>
                          <div class="mdc-simple-menu mdc-select__menu">
                            <ul class="mdc-list mdc-simple-menu__items">
                              <li class="mdc-list-item" role="option" id="grains" aria-disabled="true">
                                Select your religion
                              </li>
                              <li class="mdc-list-item" role="option" id="christian" tabindex="0">
                                Christianity
                              </li>
                              <li class="mdc-list-item" role="option" id="muslim" tabindex="0">
                                Islam
                              </li>
                              <li class="mdc-list-item" role="option" id="jewish" tabindex="0">
                                Judaism
                              </li>
                              <li class="mdc-list-item" role="option" id="nonreligious" tabindex="0">
                                Nonreligious
                              </li>
                              <li class="mdc-list-item" role="option" id="hindu" tabindex="0">
                                Hinduism
                              </li>
                              <li class="mdc-list-item" role="option" id="buddhist" tabindex="0">
                                Buddhism
                              </li>
                              <li class="mdc-list-item" role="option" id="other" tabindex="0">
                                Other
                              </li>
                            </ul>
                          </div>
                      </div>
                      <i class="material-icons" style="color:green"></i>

                      <br>
                      <br>
                      *<div class="mdc-select mdc-select2" role="listbox" tabindex="0" id="gender-input">
                        <span class="mdc-select__selected-text">Gender</span>
                          <div class="mdc-simple-menu mdc-select__menu">
                            <ul class="mdc-list mdc-simple-menu__items">
                              <li class="mdc-list-item" role="option" id="grains" aria-disabled="true">
                                Select your gender
                              </li>
                              <li class="mdc-list-item" role="option" id="male" tabindex="0">
                                Male
                              </li>
                              <li class="mdc-list-item" role="option" id="female" tabindex="0">
                                Female
                              </li>
                              <li class="mdc-list-item" role="option" id="other" tabindex="0">
                                Other
                              </li>
                            </ul>
                          </div>
                      </div>
                     <i class="material-icons" style="color:green"></i>

                      <br>
                      <br>
                      *<div class="mdc-select mdc-select3" role="listbox" tabindex="0" id="country-input">
                        <span class="mdc-select__selected-text">Country</span>
                          <div class="mdc-simple-menu mdc-select__menu">
                            <ul class="mdc-list mdc-simple-menu__items">
                              <li class="mdc-list-item" role="option" id="grains" aria-disabled="true">
                                What country are you from?
                              </li>
                              <li class="mdc-list-item" role="option" id="us" tabindex="0">
                                US
                              </li>
                              <li class="mdc-list-item" role="option" id="uk" tabindex="0">
                                UK
                              </li>
                              <li class="mdc-list-item" role="option" id="fr" tabindex="0">
                                FR
                              </li>
                              <li class="mdc-list-item" role="option" id="ca" tabindex="0">
                                CA
                              </li>
                              <li class="mdc-list-item" role="option" id="mx" tabindex="0">
                                MX
                              </li>
                              <li class="mdc-list-item" role="option" id="ru" tabindex="0">
                                RU
                              </li>
                            </ul>
                          </div>
                      </div>
                      <i class="material-icons" style="color:green"></i> 
                  </section>
                  <section class="mdc-card__actions">
                    <button id="register-button" type ="submit" class="mdc-button mdc-button--raised mdc-ripple-upgraded" disabled style="margin-left: 37%">Register</button>
                  </section>
                  </form>

                </div>
              </div>
            </div>
          </div>

    </section>
      <script src="../material-components-web/dist/material-components-web.js"></script>

</body>

</html>